{% extends "base2.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Names of Masoomeen (Holy Infallibles)</h1>
    
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
        <tr>
            <th style="width: 30%">Name</th>
            <th style="width: 30%">Father Name</th>
            <th style="width: 25%">Mother Name</th>
            <th style="width: 10%">Age</th>
        </tr>
            <tr><td>Hazrat Muhammad (PBUH)</td><td>Hazrat Abdullah</td><td>Bibi Amina</td><td>63 Years</td></tr>
            <tr><td>Hazrat Fatima (PBUH)</td><td>Hazrat Muhammad (PBUH)</td><td>Bibi Khadija</td><td>18 Years</td></tr>
            <tr><td>Hazrat Imam Ali (PBUH)</td><td>Hazrat Abu Talib (PBUH)</td><td>Bibi Fatima Bint Assad</td><td>63 Years</td></tr>
            <tr><td>Hazrat Imam Hassan (PBUH)</td><td>Hazrat Imam Ali (PBUH)</td><td>Bibi Fatima</td><td>48 Years</td></tr>
            <tr><td>Hazrat Imam Hussain (PBUH)</td><td>Hazrat Imam Ali (PBUH)</td><td>Bibi Fatima</td><td>57 Years</td></tr>
            <tr><td>Hazrat Imam Zain-ul-Abideen (PBUH)</td><td>Hazrat Imam Hussain (PBUH)</td><td>Bibi Shaher Bano</td><td>57 Years</td></tr>
            <tr><td>Hazrat Imam Muhammad Baqir (PBUH)</td><td>Hazrat Imam Zain-ul-Abideen (PBUH)</td><td>Bibi Fatima Bint Hassan</td><td>57 Years</td></tr>
            <tr><td>Hazrat Imam Jaffar Saddiq (PBUH)</td><td>Hazrat Imam Muhammad Baqir (PBUH)</td><td>Bibi Umme Farwa</td><td>65 Years</td></tr>
            <tr><td>Hazrat Imam Musa Kazim (PBUH)</td><td>Hazrat Imam Jaffar Saddiq (PBUH)</td><td>Bibi Hameeda Khatun</td><td>55 Years</td></tr>
            <tr><td>Hazrat Imam Ali Raza (PBUH)</td><td>Hazrat Imam Musa Kazim (PBUH)</td><td>Bibi Khizaan</td><td>55 Years</td></tr>
            <tr><td>Hazrat Imam Muhammad Taqi (PBUH)</td><td>Hazrat Imam Ali Raza (PBUH)</td><td>Bibi Rehaana</td><td>25 Years</td></tr>
            <tr><td>Hazrat Imam Ali Naqi (PBUH)</td><td>Hazrat Imam Muhammad Taqi (PBUH)</td><td>Bibi Samana</td><td>40 Years</td></tr>
            <tr><td>Hazrat Imam Hassan Askari (PBUH)</td><td>Hazrat Imam Ali Naqi (PBUH)</td><td>Bibi Soosan</td><td>28 Years</td></tr>
            <tr><td>Hazrat Imam Mehdi (PBUH)</td><td>Hazrat Imam Hassan Askari (PBUH)</td><td>Bibi Narjis</td><td>Still alive</td></tr>
    </tbody>
    </table>
</div>
{% endblock %}