{% extends "base2.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Names of Masoomeen (Holy Infallibles)</h1>
    
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
            <tr>
                <th style="width: 30%">Name</th>
                <th style="width: 20%">Place Name</th>              
                <th style="width: 50%">Burial Place Photo</th>              
            </tr>
                <tr><td>Hazrat Muhammad (PBUH)</td><td>Medina - Saudi Arabia</td><td><figure><img src="../static/img/Medina.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Fatima (PBUH)</td><td>Baqih - Saudi Arabia</td><td><figure><img src="../static/img/Jannatul-baqih.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Ali (PBUH)</td><td>Najjaf - Iraq</td><td><figure><img src="../static/img/najaf.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Hassan (PBUH)</td><td>Baqih - Saudi Arabia</td><td><figure><img src="../static/img/Jannatul-baqih.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Hussain (PBUH)</td><td>Karbala - Iraq</td><td><figure><img src="../static/img/karbala.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Zain-ul-Abideen (PBUH)</td><td>Baqih - Saudi Arabia</td><td><figure><img src="../static/img/Jannatul-baqih.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Muhammad Baqir (PBUH)</td><td>Baqih - Saudi Arabia</td><td><figure><img src="../static/img/Jannatul-baqih.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Jaffar Saddiq (PBUH)</td><td>Baqih - Saudi Arabia</td><td><figure><img src="../static/img/Jannatul-baqih.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Musa Kazim (PBUH)</td><td>Kazmain - Iraq</td><td><figure><img src="../static/img/kazmain.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Ali Raza (PBUH)</td><td>Mashhad - Iran</td><td><figure><img src="../static/img/mashhad.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Muhammad Taqi (PBUH)</td><td>Kazmain - Iraq</td><td><figure><img src="../static/img/kazmain.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Ali Naqi (PBUH)</td><td>Sammara - Iraq</td><td><figure><img src="../static/img/sammara.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Hassan Askari (PBUH)</td><td>Sammara - Iraq</td><td><figure><img src="../static/img/sammara.jpg" alt="image"></figure></td>
                <tr><td>Hazrat Imam Mehdi (PBUH)</td><td>In Occultation</td><td><figure><img src="../static/img/jamkaran.jpg" alt="image"></figure></td>
    </tbody>
    </table>
</div>
{% endblock %}