{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Drawing Canvas</h1>
    <div id="options" class="row col-sm-2" >
      <select class="form-select input-small mb-1" id="color-picker">
        <option value="black">Black</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
      </select>
      <select class="form-select input-small mb-1" id="thickness">
        <option value=1>1</option>
        <option value=2>2</option>
        <option value=3>3</option>
        <option value=4 selected>4</option>
        <option value=5>5</option>
        <option value=6>6</option>
        <option value=7>7</option>
      </select>
      <button class="btn btn-info mb-1" id="erase">Erase All</button>
      <button class="btn btn-warning" id="save">SAVE</button>
    </div>
  </div>
<svg id="draw">
</svg>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="../static/js/draw2.js"></script>
</div>

{% endblock %}