<!DOCTYPE html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
    <title> Reference </title>
<style>
    body {
        background-color: beige; }
    .resultVal {
        color: red; border: 1px blue solid; }
</style>
<script src="../static/ajax.js"></script>
</head>
<body>
<form id="myForm" action="" method="POST">
<p><div><input type="text" placeholder="NAME" id="name" class="field" required></p></div>
<p><div><input type="email" placeholder="EMAIL" id="email" class="field" required></p></div>
<p><button type="submit" id="formBtn">Enter Data</button>
<div id="result" class="resultVal"></div>
</form>
</body>
</html>