<!DOCTYPE html>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
    <title> Reference </title>
<style>
    body {
        background-color: beige; }
    ul li {
        color: red; border: 1px blue solid; }
</style>
<script src="../static/api.js"></script>
</head>
<body>
<form id="myForm" action="" method="POST">
<p><div><input type="text" placeholder="Currency" id="currency" required></p></div>
<p><button type="submit" id="formBtn">Enter Data</button>
<p></p>
<div id="contents"></div>
<ul id="items"></ul>
</form>
</body>
</html>