<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
    <title> Reference </title>
<style>
    body {
        background-color: beige;
    }

    .resultVal {
        color: red;
        border: 1px blue solid;
    }
</style>
</head>
<body>

<form action="/save_form" id="myForm" name="myForm" method="POST">
<p><div><input type="text" placeholder="NAME" id="name" class="field" required></p></div>
<p><div><input type="email" placeholder="EMAIL" id="email" class="field" required></p></div>
<p><button type="submit" id="formBtn" onclick="do_ajax();">Enter Data</button>
</form>
<div id="result" class="resultVal"></div>

<script type="text/javascript">
    function do_ajax() {
        var req = new XMLHttpRequest();
        var res = document.getElementById('result');
        req.onreadystatechange  = function() {
            if (this.readyState == 4 & this.status == 200) {
                res.innerHTML = this.responseText;
            } else {
                res.innerHTML = "Some error";
            }
        } 
        req.open('POST', '/save_form', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("name=" + document.getElementById('name').value);
    }

</script>
</body>
</html>