{% extends "base.html" %}
{% block title %} Completed {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Tasks Completed</h1>
    {% if tasks|length < 1 %}
    <h4>There are no tasks. Create one at home page!</h4>
    {% else %}
    <table class="table table-bordered">
        <tr>
            <th style="width: 50%">Task Done</th>
            <th style="width: 10%">Date Added</th>
            <th style="width: 10%">Date Done</th>
            <th style="width: 30%">Action Update</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created }}</td>
                <td>{{ task.date_done }}</td>
                <td>
                    <a class="btn btn-danger" href="/delete_complete/{{ task.id }}" role="button">Delete</a>
                    <a class="btn btn-primary" href="/current_ongoing/{{ task.id }}">Ongoing</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}