<!doctype html>
<!--This page is property of SYED MEESAM ALI-->
<head>
    <title>Code</title>

<style>
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        margin: 0;
        background:gold;
        background: -webkit-linear-gradient(yellow,brown);
        background:         linear-gradient(gold, #7FFFD4);
        background-repeat: no-repeat;
        background-attachment: fixed;
}

</style>

</head>
<body>

  <h2><p>Enter secret code to access this page! </p></h2>
  <form action="/token5" method="POST">
  <table>
    <tr><td><input type="password" name="code5"></td></tr>
    <tr><td><input type="submit" value="submit"></td></tr>
  </table>
  </form>


</body>
</html>