<!doctype html>
<!--This page is property of SYED MEESAM ALI-->
<head>
    <title>Contact Me!</title>

<style>

html {
    height: 100%;
}
body {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        margin: 0;
        background: aqua;
        background: -webkit-linear-gradient(aqua, lightyellow);
        background:         linear-gradient(lightyellow, #7FFFD4);
        background-repeat: no-repeat;
        background-attachment: fixed;
}

</style>
</head>
<body>
<h3><a href="/">Back to HomePage</a></h3>
<p>
<ul style="list-style-type:none;">
    <h2><li> Syed Meesam Ali</li></h2>
    <h3><li> Whatsapp: +971 555 31 42 69</li></h3>
    <h3><li> Email: meeghou8689 attherateof gmail.com</li></h3>
</ul>
</p>
</body>
</html>