<!doctype html>
<!--This page is property of SYED MEESAM ALI-->
<head>
    <title>Idea Sheet</title>

<style>
* {
    font-family: Arial, Helvetica, sans-serif;
}

</style>

</head>
<body>

  <h1><p>Add Details Page</p></h1>
  <form action="/savedetails" method="POST">
  <table>
    <tr><td>First Name:</td><td><input type="text" name="fname"></td></tr>  
    <tr><td>Last Name:</td><td><input type="text" name="lname"></td></tr>  
    <tr><td>Age: </td><td><input type="number" name="age"></td></tr>  
    <tr><td><input type="submit" value="Submit"></td></tr>  
  </table>
  </form>
  

  <h1>Ideas Sheet</h1>
<ol>
    <li>Some Great Pens added to Main Website Page</li>
    <li>Blender 2.8 with Python Scripting</li>
    <li>Video about making BOT using NodeJS and Gemini Exchange</li>
    <li>Blender usage and application Article - Medium</li>
    <li>Video about Python Hosting - Based on Existing Article</li>
    <li>Basic 3D drawing in AutoCAD</li>
    <li>SVG Animation App or Webapp</li>
    <li>Desktop App using HTML, CSS and JavaScript</li>
    <li>Automation Scripts Using Python</li>
</ol>
</body>
</html>