<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<head>
  <title> Home Page </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/theme.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/media.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/font-awesome.min.css') }}">
</head>
<body>
<!-- \\ Begin Holder \\ -->
<div class="DesignHolder">
	<!-- \\ Begin Frame \\ -->
	<div class="LayoutFrame">
        <!-- \\ Begin Header \\ -->
        <header>
            <div class="Center">
                <div class="site-logo">
                	<h1><a href="#">SYED<span>MEESAM</span>ALI</a></h1>
                </div>
               <div id="mobile_sec">
               <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
                <div class="menumobile">
                    <!-- \\ Begin Navigation \\ -->
                    <nav class="Navigation">
                        <ul>
                            <li class="active">                                
                                <a href="/aboutme">About</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="/Ideas">Ideas</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="/links">Links</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="/mat_calc">Mat-Calc</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                                <span class="menu-item-bg"></span>
                            </li>
                        </ul>
                    </nav>
                    <!-- // End Navigation // -->
				</div>
				</div>
                
            </div>
        </header>
        <!-- // End Header // -->
        
                   
                    <!-- // End Footer // -->
                </div>
                <!-- // End Get Section // -->
            
            </div>
            <!-- // End Contact Section // -->
        </div>
        <!-- // End Container // -->
	</div>
	<!-- // End Layout Frame // -->
</div>

<div class="row">
    <div class="column">
      <h2>What Can I Offer?</h2>
      <ul>
        <li>Inventory Management System (Desktop)</li>
        <li>Website Building (Python Flask Back-end)</li><br>
        [Full Stack (Front-end, database & Hosting)]
        <li>VBA Automation - Excel</li>
        <li>VBA Automation - Outlook</li>
        <li>Python Automation - Files, Images etc</li>
        <li>Teaching Programming</li>
        <ul>
            <li>Python programming from scratch</li>
            <li>VBA programming from scratch</li>
            <li>Excel formulas & macros</li>
            <li>Java programming </li>
            <li>C programming </li>
            <li>AutoCAD (CAD Design 2D & 3D)</li>
          </ul>
    </ul>
    </div>
    <div class="column">
      <h2>Programming Skills</h2>
      <ul>
        <li>Python - Automation</li>
        <li>Python - Flask</li>
        <li>CSharp - Report Management</li>
        <li>VBA - Excel</li>
        <li>VBA - Outlook</li>
        <li>Front-End: HTML, CSS, JS</li>
        <li>PHP - Ongoing</li>
        <li>C - Embedded (Arduino)</li>
    </ul>
    </div>


    <div class="column">
      <h2>Programming Experience</h2>
      <ol>
        <li>Inventory management reporting system in CSharp with SQL Server Reporting</li>
        <li>Website with Python Flask back-end, SQLite for records, HTML and CSS for front-end</li>
        <li>Automation scripts using Python</li>
        <li>Automation and solutions using Excel VBA</li>
        <li>Trading BOT in Node for Crypto Exchange "Gemini"</li>
        <li>Telegram BOT in Python</li>
        <li>Consulting and Teaching Programming:
          <ul>
            <li>Python programming from scratch</li>
            <li>VBA programming from scratch</li>
            <li>Excel Advanced Level</li>
            <li>Java programming </li>
            <li>BASH </li>
            <li>Sockets in Python </li>
            <li>C Algorithms & Linked Lists </li>
          </ul>
        </li>
        <li>Arduino Programming</li>
        <li>Advanced Custom Modules in VBA</li>
      </ol>
    </div>
    <div class="anim">
    </div>
</div>

<div class="footer">
<p>Date and Time: <span id="datetime"></span></p>
</div>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
</body>
</html>