<!doctype html>
<!--This page is property of SYED MEESAM ALI-->
<head>
    <title>Links List</title>
<style>
* {
    font-family: Arial;
    box-sizing: border-box;
}

html, body, section {
    height: 100%;
}
body {
    text-align: left;
}

</style>

</head>
<body>
<h2 style="background-color:Yellow;">Useful Links List</h2>
<ol>
<li><a href="https://medium.com/better-marketing/9-business-lessons-i-learned-making-100-000-online-in-the-past-3-years-b2a35e3af0cc">
    Level-up the Game and earn better online</a><br><br></li>
<li><a href="https://talktotransformer.com/">Talk to Transformer - Neural Network Text Completion Agent</a> <br><br></li>
<li><a href="https://cgcookie.com/articles/blender-2-8-python-scripting-superpowers-for-non-programmers">Blender 2.8 with Python Scripting</a> <br><br></li>
<li><a href="https://dev.to/awwsmm/101-bash-commands-and-tips-for-beginners-to-experts-30je">101 Important BASH commands</a> <br><br></li>
<li><a href="http://www.grymoire.com/Unix/Sed.html">Usage of SED in BASH</a> <br><br></li>
<li><a href="https://blenderscripting.blogspot.com/">Blender Scripting Blog</a> <br><br></li>
<li><a href="https://github.com/zeffii/BlenderPythonRecipes/wiki/PyGeom">Blender Python Recipes - Github Blog</a> <br><br></li>
<li><a href="https://aiexperiments.withgoogle.com/">Google AI Experiments</a> <br><br></li>
<li><a href="https://atomiks.github.io/30-seconds-of-css/">30 Seconds of CSS</a> <br><br></li>
<li><a href="https://github.com/hellerve/programming-talks">Awesome and Interesting Talks about Programming</a> <br><br></li>
<li><a href="https://blog.usejournal.com/20-html-and-css-projects-to-sharpen-your-skills-c124c2377206">HTML and CSS tricks to sharpen your skill</a> <br><br></li>
<li><a href="https://dariusforoux.com/reading-list/">Personal Development Reading List</a> <br><br></li>
<li><a href="https://www.imgbot.ai/">Image Manipulation BOT</a> <br><br></li>
<li><a href="https://interestingengineering.com/what-is-dna-computing-how-does-it-work-and-why-its-such-a-big-deal">DNA Computing</a> <br><br></li>
<li><a href="https://perplex.city/the-search-for-self-60e2149cffa3#.oqeazto3n">Google Searches Project</a> <br><br></li>
<!-- <li><a href="http://chagataikhan.blogspot.com/">Chagatai Khan Blog</a> <br><br></li> -->
<li><a href="https://dev.to/pagely/seo-cheat-sheet-for-devs-5h1g">SEO Sheet for the Devs</a> <br><br></li>
<li><a href="https://dev.to/yechielk/writing-your-first-browser-extension-part-1-d5e">Writing your own browser extension</a> <br><br></li>
<li><a href="https://github.com/ethereumbook/ethereumbook/blob/develop/06transactions.asciidoc">ETHEREUM BOOK: Transactions</a> <br><br></li>
<li><a href="">New link</a> <br><br></li>
</ol>
</body>
</html>