<!DOCTYPE html>
<html lnag="en">

<head>
  <meta char-set="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="main.css" />
  <title> Home Page - Syed Meesam Ali </title>
</head>
<body>
<header>
    <ul>
        <li>Item # 1</li>
        <li>Item # 2</li>
        <li>Item # 3</li>
        <li>Item # 4</li>
      </ul>      
</header>
  
<main>
  <div class="box">Box 1</div>
  <div class="box">Box 2</div>
</main>

<footer>Footer Area</footer>


</body>
</html>