<!doctype html>
<!--This page is property of SYED MEESAM ALI-->
<head>
    <title>Material Calculation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
* {
    font-family: Arial;
    box-sizing: border-box;
}

html, body, section {
    height: 100%;
}
body {
    background-color: lightyellow;
    text-align: left;
}

.split {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.left {
    width: 35%;
    padding: 1 rem;
}

.right {
    width: 65%;
    padding: 1 rem;
}

.main_container {
    display: flex;
}

input[type=text] {
    border-style: solid;
    border-bottom: 2px solid red;
    background-color:yellow;
}
label {
    display: inline-block;
    width: 210px;
    text-align: left;
    background-color:lime;
}
#result, #result_bags, #epoxy1, #epoxy2, #epoxy3, #fire1, #jreq, #jreq1{
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: yellow;
    width: 250px;
    border: 1px solid green;
    padding: 1px;
    margin: 1px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.block:hover {
  background-color: #ddd;
  color: black;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 2px solid blue;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:hover {background-color: #f5f5f5;}

</style>

</head>
<body>
<section class="main_container">
<div class="split left">
<h2 style="background-color:yellow;">Material Calculation for Various Strengthening Materials</h2>
<br>
<h3  style="background-color:yellow;">1. Calculation for Anchoring Epoxy</h3>
<form>
        <select name="choose">
            <option value="300ml">300ml Sachet</option>
            <option value="500ml">500ml Sachet</option>
            <option value="conmix">Conmix</option>
        </select>
</form>
<img src="{{ image1 }}" alt="First Image" width="250" height="150">
<p>
<label for="dia">Diameter of bar:</label> 
<input id="dia" pattern="[0-9]*" type="text" placeholder="Enter dia."><br> <br>
<label for="depth">Depth of Anchor (mm):</label> 
<input id="depth" pattern="[0-9]*" type="text" placeholder="Usually 10 times dia.">  <br><br>
<label for="hole_width">Width of Drilling:</label> 
<input id="hole_width" pattern="[0-9]*" type="text" placeholder="Dia. + 4mm usually"> <br><br>
<label for="drill_nos">Number of Anchors:</label> 
<input id="drill_nos" pattern="[0-9]*" type="text" placeholder="# of anchors"> <br><br>
<button class="block" id="eCalculate">Calculate</button>
<p>
Anchoring material required: <span id="result">00 ml </span> </p>

<p>
<h3  style="background-color:yellow;">2. Calculation for Micro-Concrete</h3>
<form>
        <select name="choose_one">
            <option value="25kg">25 Kg Bags</option>
            <option value="50kg">50 Kg Bags</option>
        </select>
</form>
<img src="{{ image2 }}" alt="Second Image"  width="300" height="300">
<p>
<label for="slab_a">Area in SQM:</label> 
<input id="slab_a" pattern="[0-9]*" type="text" placeholder="Area (sqm)"><br> <br>
<label for="slab_t">Thickness of Pour (mm):</label> 
<input id="slab_t" pattern="[0-9]*" type="text" placeholder="Thickness (mm)">  <br><br>
<button class="block" id="mCalculate">Calculate</button>
<p>
Bags required: <span id="result_bags">00 Bags </span> </p>

<br>
<h3  style="background-color:yellow;">3. Calculation for CFRP Quantities</h3>
<form>
        <select name="choose_two">
            <option value="S512">S512 Strips</option>
            <option value="S1012">S1012 Strips</option>
            <option value="530C">530C Wrap</option>
        </select>
</form>
<img src="{{ image3 }}" alt="Third Image" width="300" height="200">
<p>
<label for="len">Total Length (m):</label> 
<input id="len" pattern="[0-9]*" type="text" placeholder="Length (m)"><br> <br>
<button class="block" id="cCalculate">Calculate</button>
<p>
Epoxy Sikadur 30-LP required: <span id="epoxy1">00 6Kg Set </span> </p>
<p>Epoxy Sikadur 300 required: <span id="epoxy2">00 30Kg Set </span> </p>
<p>Epoxy Sikadur 330 required: <span id="epoxy3">00 5Kg Set </span> </p>
<p>Fire-protection 2-hr material (Sikacrete 213F) required: 
    <br><span id="fire1">00 25Kg Bags </span> </p>
<p>


    <br>
    <h3  style="background-color:yellow;">4. Concrete Jacketing</h3>
    <form>
            <select name="choose_three">
                <option value="100mm">100mm</option>
                <option value="150mm">150mm</option>
                <option value="200mm">200mm</option>
            </select>
    </form>
    <img src="{{ image4 }}" alt="Jacketing" width="300" height="200">
    <p>
    <label for="iwid">Initial Width (mm):</label>
    <input id="iwid" pattern="[0-9]*" type="text" placeholder="Width (mm)"><br> <br>
    <label for="ilen">Initial Length (mm):</label>
    <input id="ilen" pattern="[0-9]*" type="text" placeholder="Length (mm)"><br> <br>
    <label for="ht">Height (mm):</label>
    <input id="ht" pattern="[0-9]*" type="text" placeholder="Height (mm)"><br> <br>
    <label for="nos">Quantity (No's):</label>
    <input id="nos" pattern="[0-9]*" type="text" placeholder="No's"><br> <br>
    <button class="block" id="jCalculate">Calculate</button>
    <p>
        <p>Total Micro-Concrete Quantity: <span id="jreq1">00 m3 </span> </p>
        <p>Total Micro-Concrete material required: 
            <br><span id="jreq">00 25Kg Bags </span> </p>
    <p>


</div>

<div class="split right">
    <br>
    <p>
            <table class="container">
                    <thead>
                        <tr>
                            <th><h3>Supplier</h3></th>
                            <th><h3>Material Name</h3></th>
                            <th><h3>Type</h3></th>
                            <th><h3>Packaging</h3></th>
                            <th><h3>General Price</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Conmix</td>
                            <td>NanoGrout SG</td>
                            <td>Anchoring</td>
                            <td>3 Ltr</td>
                            <td>115</td>
                        </tr>
                        <tr>
                            <td>Conmix</td>
                            <td>ReCon MC5mm</td>
                            <td>Micro-Concrete</td>
                            <td>25 Kg</td>
                            <td>13.5</td>
                        </tr>
                        <tr>
                            <td>Conmix</td>
                            <td>ReCon GP55</td>
                            <td>Grouting</td>
                            <td>25 Kg</td>
                            <td>17.0</td>
                        </tr>
                        <tr>
                            <td>Sika</td>
                            <td>Anchor Fix-2</td>
                            <td>Anchoring</td>
                            <td>12 pc box</td>
                            <td>415</td>
                        </tr>
                    <tr>
                            <td>Sika</td>
                            <td>Sikacrete 113-PP</td>
                            <td>Fire-protection</td>
                            <td>25 Kg</td>
                            <td>19</td>
                        </tr>
                    <tr>
                            <td>Sika</td>
                            <td>Sikadur 30-LP</td>
                            <td>Epoxy putty</td>
                            <td>6 Kg</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>Sika</td>
                            <td>Sika Carbodur S1012</td>
                            <td>CFRP Strips</td>
                            <td>100LM</td>
                            <td>7500</td>
                        </tr>
                        <tr>
                            <td>Sika</td>
                            <td>Sika-Wrap 530C</td>
                            <td>CFRP Wrapping</td>
                            <td>50LM</td>
                            <td>3200</td>
                        </tr>
                    </tbody>
                </table>
</div>

<script>
//Invoke function when the document is ready
$(document).ready(function(){
    
    $("#eCalculate").click(function(){
            //Check which sachet type is selected to update the result value
            //alert($(this).val());
            var sachet = $("select[name='choose']").val();
                var dia = $('#dia').val();
                var depth = $('#depth').val();
                var hole_width = $('#hole_width').val();
                var drill_nos = $('#drill_nos').val();
                var annular = (Math.PI*((hole_width/2)**2))*depth;
                var rebar_vol = (Math.PI*((dia/2)**2))*depth;
            if (sachet == "500ml") {
                var result = ((((annular-rebar_vol)/(Math.pow(10,6)))*drill_nos)/0.5)*1.25;
                result = result.toFixed(2);
                $('#result').text(result+" [500ml] sachets")
            } else if (sachet == "300ml") {
                var result = ((((annular-rebar_vol)/(Math.pow(10,6)))*drill_nos)/0.3)*1.25;
                result = result.toFixed(2);
                $('#result').text(result+" [300ml] sachets")
            } else {
                var result = (((((annular-rebar_vol)/(Math.pow(10,6)))*drill_nos))/3)*1.25;
                result = result.toFixed(2);
                $('#result').text(result+" [3 Ltr] Sets")
            }

    }); // End of anchoring epoxy function

    $("#mCalculate").click(function(){
            //Check which sachet type is selected to update the result value
            //alert($(this).val());
            var baggage = $("select[name='choose_one']").val();
                var areaslab = $('#slab_a').val();
                var thickness = $('#slab_t').val();
            if (baggage == "25kg") {
                var result_vol = areaslab * (thickness / 1000) * 115 ;
                result_vol = result_vol.toFixed(0);
                $('#result_bags').text(result_vol+" [25Kg] Bags")
            } else {
                var result_vol = areaslab * (thickness / 1000) * 58 ;
                result_vol = result_vol.toFixed(0);
                $('#result_bags').text(result_vol+" [50Kg] Bags")
            }

    }); // End of anchoring epoxy function


    $("#cCalculate").click(function(){
            //Check which sachet type is selected to update the result value
            //alert($(this).val());
            var mat_type = $("select[name='choose_two']").val();
                var length = $('#len').val();
            if (mat_type == "S512") {
                var result_ep = (length / 25);
                var result_fr = (length / 15);
                result_ep = result_ep.toFixed(0);
                result_fr = result_fr.toFixed(0);
                $('#epoxy1').text(result_ep + " [6Kg] Sets")
                $('#epoxy2').text("[Not Required]")
                $('#epoxy3').text("[Not Required]")
                $('#fire1').text(result_fr + " [25Kg] Bags")
            } else if (mat_type == "S1012") {
                var result_ep = (length / 20);
                var result_fr = (length / 10);
                result_ep = result_ep.toFixed(0);
                result_fr = result_fr.toFixed(0);
                $('#epoxy1').text(result_ep + " [6Kg] Sets")
                $('#epoxy2').text("[Not Required]")
                $('#epoxy3').text("[Not Required]")
                $('#fire1').text(result_fr + " [25Kg] Bags")
            } else {
                var result_ep1 = (length / 10);
                var result_ep2 = (length / 75);
                var result_ep3 = (length / 2.5);
                var result_fr = (length / 8);
                result_ep1 = result_ep1.toFixed(0);
                result_ep2 = result_ep2.toFixed(0);
                result_ep3 = result_ep3.toFixed(0);
                result_fr = result_fr.toFixed(0);
                $('#epoxy1').text("[Not Required]")
                $('#epoxy2').text(result_ep2 + " [30Kg] Sets")
                $('#epoxy3').text(result_ep3 + " [5Kg] Sets")
                $('#fire1').text(result_fr + " [25Kg] Bags")
            }

    }); // End of CFRP Calculation Function

    //Start of JACKETING Calculation portion
    $("#jCalculate").click(function(){
            
            var j_type = $("select[name='choose_three']").val();
            console.log("Value is: " + j_type);
            var length = $('#ilen').val() / 1000;
            var width = $('#iwid').val() / 1000;
            var height = $('#ht').val() / 1000;
            var nos = $('#nos').val();

            if (j_type == "100mm") {
                var result1 = (((length + 0.1) * (width + 0.1)) - (length * width)) * height * nos;
                result = 115 * result1;
                result1 = result1.toFixed(2);
                result = result.toFixed(0);
                $('#jreq1').text(result1 + " m3")
                $('#jreq').text(result + " [25Kg] Bags")
            } else if (j_type == "150mm") {
                var result1 = (((length + 0.15) * (width + 0.15)) - (length * width)) * height * nos;
                result = 115 * result1;
                result1 = result1.toFixed(2);
                result = result.toFixed(0);
                $('#jreq1').text(result1 + " m3")
                $('#jreq').text(result + " [25Kg] Bags")
            } else {
                var result1 = (((length + 0.2) * (width + 0.2)) - (length * width)) * height * nos;
                result = 115 * result1;
                result1 = result1.toFixed(2);
                result = result.toFixed(0);
                $('#jreq1').text(result1 + " m3")
                $('#jreq').text(result + " [25Kg] Bags")
            }
    }); // End of Jacketing Function


});

</script>
</section>

</body>
</html>