<!DOCTYPE html>
<html>
<head>
  <title> Add Details </title>
  <style>
  * {
    font-family: Arial, Helvetica, sans-serif;
   }

  .error {
    background-color: red;
    color: yellow;
  }
  .success {
    background-color: green;
    color: yellow;
  }
  </style>
</head>
<body>

  {% if msg == "Data Entered Successfully!" %}
    <h1 class="success">  {{ msg }} </h1>
  {% else %}
    <h1 class="error">  {{ msg }} </h1>
  {%endif %}

<p>
<a href="/">Home Page</a><br><br>
</p>
<a href="/links">Links Page</a><br><br>

</body>
</html>