{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Product Gallery</h1>
    
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
        <tr>
            <th style="width: 20%">Product Name</th>
            <th style="width: 50%">Photo</th>
        </tr>
        <tr><td>Dress Type [1]</td><td><img src="../static/img/Dress_1.jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [2]</td><td><img src="../static/img/Dress (2).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [3]</td><td><img src="../static/img/Dress (3).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [4]</td><td><img src="../static/img/Dress (4).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [5]</td><td><img src="../static/img/Dress (5).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [6]</td><td><img src="../static/img/Dress (6).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [7]</td><td><img src="../static/img/Dress (7).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [8]</td><td><img src="../static/img/Dress (8).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [9]</td><td><img src="../static/img/Dress (9).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [10]</td><td><img src="../static/img/Dress (10).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [11]</td><td><img src="../static/img/Dress (11).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [12]</td><td><img src="../static/img/Dress (12).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [13]</td><td><img src="../static/img/Dress (13).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [14]</td><td><img src="../static/img/Dress (14).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [15]</td><td><img src="../static/img/Dress (15).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [16]</td><td><img src="../static/img/Dress (16).jpg" class="img-fluid" /></td></tr>
        <tr><td>Dress Type [17]</td><td><img src="../static/img/Dress (17).jpg" class="img-fluid" /></td></tr>        
    </tbody>
    </table>
</div>
{% endblock %}