{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Product Details</h1>
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
            <tr>
                <th style="width: 30%">Product</th>
                <th style="width: 20%">Price</th>              
                <th style="width: 50%">Available Quantity</th>              
            </tr>
            <tr><td>Dress Type [1]</td><td>250</td><td>12</td></tr>
            <tr><td>Dress Type [2]</td><td>350</td><td>10</td></tr>
            <tr><td>Dress Type [3]</td><td>325</td><td>8</td></tr>
            <tr><td>Dress Type [4]</td><td>250</td><td>12</td></tr>
            <tr><td>Dress Type [5]</td><td>320</td><td>10</td></tr>
            <tr><td>Dress Type [6]</td><td>400</td><td>8</td></tr>
            <tr><td>Dress Type [7]</td><td>450</td><td>12</td></tr>
            <tr><td>Dress Type [8]</td><td>250</td><td>10</td></tr>
            <tr><td>Dress Type [9]</td><td>350</td><td>8</td></tr>
            <tr><td>Dress Type [10]</td><td>325</td><td>12</td></tr>
            <tr><td>Dress Type [11]</td><td>250</td><td>10</td></tr>
            <tr><td>Dress Type [12]</td><td>320</td><td>8</td></tr>
            <tr><td>Dress Type [13]</td><td>400</td><td>12</td></tr>
            <tr><td>Dress Type [14]</td><td>450</td><td>10</td></tr>
            <tr><td>Dress Type [15]</td><td>250</td><td>8</td></tr>
            <tr><td>Dress Type [16]</td><td>350</td><td>12</td></tr>
            <tr><td>Dress Type [17]</td><td>325</td><td>10</td></tr>

    </tbody>
    </table>
</div>
{% endblock %}