{% extends "base_calc.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="container">

<h2>Material Calculation for Various Strengthening Materials</h2>

<!--Anchoring epoxy part-->
<h4 class="p-2 bg-info mt-2 mb-2 col-md-6">1. Calculation for Anchoring Epoxy</h4>
<div id="options" class="row col-md-3">
<select class="bg-secondary text-warning form-select mt-2 mb-2 font-weight-bold" aria-label="Default select example" id="anchoring">
    <option selected value="300ml">300ml Sachet</option>
    <option value="500ml">500ml Sachet</option>
    <option value="conmix">Conmix</option>
</select>
</div>

<form action="javascript:void(0);" class="form-inline">
<label for="dia" class="text-primary mt-2 col-md-3"><h5>Diameter of bar: </h5></label>
<input class="text-primary col-md-3" id="dia" pattern="[0-9]*" type="text" placeholder="Enter dia."><br>
<label for="depth" class="text-primary mt-2 col-md-3"><h5>Depth of Anchor (mm):</h5></label>
<input class="text-primary col-md-3" id="depth" pattern="[0-9]*" type="text" placeholder="Usually 10 times dia."><br>
<label for="hole_width" class="text-primary mt-2 col-md-3"><h5>Width of Drilling:</h5></label>
<input class="text-primary col-md-3" id="hole_width" pattern="[0-9]*" type="text" placeholder="Dia. + 4mm usually"><br>
<label for="drill_nos" class="text-primary mt-2 col-md-3"><h5>Number of Anchors:</h5></label>
<input class="text-primary col-md-3" id="drill_nos" pattern="[0-9]*" type="text" placeholder="# of anchors"><br>
<button class="p-2 btn btn-warning mt-2 mb-2" id="eCalculate">Calculate</button>
<span class="bg-danger text-warning font-weight-bold col-md-3" id="result" style="display:none;">00 ml </span>
</form>

<!--Microconcrete details-->
<h4 class="p-2 bg-info mt-2 mb-2 col-md-6">2. Calculation for Micro-Concrete</h4>
<div id="options" class="row col-md-3">
<select class="bg-secondary text-warning form-select mt-2 mb-2 font-weight-bold" aria-label="Default select example" id="micro">
    <option selected value="25 Kg">25 Kg</option>
    <option value="50 Kg">50 Kg</option>
</select>
</div>
<form action="javascript:void(0);" class="form-inline">
    <label for="area" class="text-primary mt-2 col-md-3"><h5>Area in Sqm: </h5></label>
    <input class="text-primary col-md-3" id="slab_area" pattern="[0-9]*" type="text" placeholder="Area (m2)"><br>
    <label for="thick" class="text-primary mt-2 col-md-3"><h5>Thickness (mm):</h5></label>
    <input class="text-primary col-md-3" id="slab_depth" pattern="[0-9]*" type="text" placeholder="Thickness (mm)"><br>
    <button class="p-2 btn btn-warning mt-2 mb-2" id="cCalculate">Calculate</button>
    <span class="bg-danger text-warning font-weight-bold col-md-3" id="result_vol" style="display:none;">Kgs </span>
</form>

<!--CFRP-->
<h4 class="p-2 bg-info mt-2 mb-2 col-md-4">3. CFRP Calculations</h4>
<div id="options" class="row col-md-3">
    <select class="bg-secondary text-warning form-select mt-2 mb-2 font-weight-bold" aria-label="Default select example" id="CFRP">
        <option selected value="S512">S512 Strips</option>
        <option value="S1012">S1012 Strips</option>
        <option value="530C">530C Wrapping</option>
    </select>
</div>
        
<form action="javascript:void(0);" class="form-inline">
    <label for="area" class="text-primary mt-2 col-md-3"><h5>Total Length (m): </h5></label>
    <input class="text-primary col-md-3" id="cfrp_len" pattern="[0-9]*" type="text" placeholder="Length (m)"><br>
    <button class="p-2 btn btn-warning mt-2 mb-2" id="fCalculate">Calculate</button>
    <span class="bg-danger text-warning font-weight-bold col-md-3" id="result_cfrp" style="display:none;">Kgs </span>
</form>

<!--Column jacketing-->
<h4 class="p-2 bg-info mt-2 mb-2 col-md-4">4. Column Jacketing</h4>
<div id="options" class="row col-md-3">
    <select class="bg-secondary text-warning form-select mt-2 mb-2 font-weight-bold" aria-label="Default select example" id="Jacketing">
        <option selected value="100mm">100mm</option>
        <option value="150mm">150mm</option>
        <option value="200mm">200mm</option>
    </select>
</div>

<form action="javascript:void(0);" class="form-inline">
    <label for="area" class="text-primary mt-2 col-md-3"><h5>Initial Width (mm): </h5></label>
    <input class="text-primary col-md-3" id="iwid" pattern="[0-9]*" type="text" placeholder="Width (mm)"><br>
    <label for="area" class="text-primary mt-2 col-md-3"><h5>Initial Length (mm): </h5></label>
    <input class="text-primary col-md-3" id="ilen" pattern="[0-9]*" type="text" placeholder="Length (mm)"><br>
    <label for="area" class="text-primary mt-2 col-md-3"><h5>Height (mm): </h5></label>
    <input class="text-primary col-md-3" id="idepth" pattern="[0-9]*" type="text" placeholder="Height (mm)"><br>
    <label for="area" class="text-primary mt-2 col-md-3"><h5>Qtn (No's): </h5></label>
    <input class="text-primary col-md-3" id="col_nos" pattern="[0-9]*" type="text" placeholder="No's"><br>
    <button class="p-2 btn btn-warning mt-2 mb-2" id="jCalculate">Calculate</button>
    <span class="bg-danger text-warning font-weight-bold col-md-3" id="result_jacket" style="display:none;">Kgs </span>
</form>


<script src="../static/js/mat_calc.js"></script>
</div>

{% endblock %}