{% extends "base_calc.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="container-fluid">
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
        <tr class="row">
            <th class="col-sm-1">Sr. #</th>
            <th class="col-sm-4">Description</th>
            <th class="col-sm-1">Units</th>
            <th class="col-sm-1">Qty</th>
            <th class="col-sm-2">Price (AED)</th>
            <th class="col-sm-3">Total (AED)</th>
        </tr>
        <!--Item # 1-->
        <tr class="row">
            <td class="col-sm-1 text-center">1</td>
            <td class="col-sm-4">Cutting Works</td>
            <td class="col-sm-1">LS</td>
            <td class="col-sm-1"><input id="qty_val1" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val1" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result1">Total</span></td>
        </tr>
        <!--Item # 2-->
        <tr class="row">
            <td class="col-sm-1 text-center">2</td>
            <td class="col-sm-4">Chipping Works (edges of cut area)</td>
            <td class="col-sm-1">LS</td>
            <td class="col-sm-1"><input id="qty_val2" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val2" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result2">Total</span></td>
        </tr>
        <!--Item # 3-->
        <tr class="row">
            <td class="col-sm-1 text-center">3</td>
            <td class="col-sm-4">Rebar as weight (Kgs)</td>
            <td class="col-sm-1">Kgs</td>
            <td class="col-sm-1"><input id="qty_val3" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val3" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result3">Total</span></td>
        </tr>
        <!--Item # 4-->
        <tr class="row">
            <td class="col-sm-1 text-center">4</td>
            <td class="col-sm-4">Anchoring Epoxy (RE-500)</td>
            <td class="col-sm-1">Sachets</td>
            <td class="col-sm-1"><input id="qty_val4" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val4" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result4">Total</span></td>
        </tr>
        <!--Item # 5-->
        <tr class="row">
            <td class="col-sm-1 text-center">5</td>
            <td class="col-sm-4">Micro-concrete material</td>
            <td class="col-sm-1">m3</td>
            <td class="col-sm-1"><input id="qty_val5" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val5" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result5">Total</span></td>
        </tr>
        <!--Item # 6-->
        <tr class="row">
            <td class="col-sm-1 text-center">6</td>
            <td class="col-sm-4">Shuttering</td>
            <td class="col-sm-1">LS</td>
            <td class="col-sm-1"><input id="qty_val6" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val6" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result6">Total</span></td>
        </tr>
        <!--Item # 7-->
        <tr class="row">
            <td class="col-sm-1 text-center">7</td>
            <td class="col-sm-4">Manpower, Tools & Equipment</td>
            <td class="col-sm-1">LS</td>
            <td class="col-sm-1"><input id="qty_val7" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val7" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result7">Total</span></td>
        </tr>
        <!--Item # 8-->
        <tr class="row">
            <td class="col-sm-1 text-center">8</td>
            <td class="col-sm-4">External Hire</td>
            <td class="col-sm-1">LS</td>
            <td class="col-sm-1"><input id="qty_val8" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val8" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result8">Total</span></td>
        </tr>
        <!--Item # 9-->
        <tr class="row">
            <td class="col-sm-1 text-center">9</td>
            <td class="col-sm-4">CFRP (including epoxy)</td>
            <td class="col-sm-1">LS</td>
            <td class="col-sm-1"><input id="qty_val9" size="4" type="text" placeholder="Qty"></td>
            <td class="col-sm-2"><input class="text-danger" id="price_val9" size="5" type="text" placeholder="Cost"></td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="result9">Total</span></td>
        </tr>
        <tr class="row">
            <td class="col-sm-9 text-end">Total Amount (AED):</td>
            <td class="col-sm-3"><span class="bg-danger text-warning" id="final_result">Final</span></td>
        </tr>
    </tbody>
    </table>

    <button class="p-2 btn btn-warning mt-2 mb-2" id="eCalculate">Calculate</button>
<script src="../static/js/boq_calc.js"></script>
</div>
{% endblock %}