<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico">
<style>
.calert  {	border: 1px solid yellow; border-radius: 5px; color: gold; background-color: green; 
	width: 200px; height: 20px;}
.calert-fail  {	border: 1px solid yellow; border-radius: 5px; color: gold; background-color: red; 
    width: 200px; height: 20px;}
.calert:hover  {	color:white; }
.closebtn {	color: red; font-weight: bold; font-size: 20px; float: right;
cursor: pointer; transition: 0.3s;  }  
.closebtn:hover {	color: white;  }
</style>
    <title> Main_Website </title>
</head>
<body>

<form action='/save_form' id="myForm" name="myForm" method="POST">
<p><input type="text" value="" minlength="3" maxlength="30" placeholder="NAME" id="name" name="name" class="field" required></p>
<p><input type="email" value="" minlength="9" maxlength="50" placeholder="EMAIL" id="email" name="email" class="field" required></p>
<p><input type="text" value="" minlength="2" maxlength="10" placeholder="TITLE" id="title" name="title" class="field" required></p>
<p><textarea cols="20"  rows="5" minlength="3" maxlength="1000" id="message" name="message" placeholder="MESSAGE" required></textarea></p>
<p><button type="submit" id="formBtn">Enter Data</button>
</form>
<p>
    <div id="successAlert" class="calert" style="display:none;">
        <span id="close1" class="closebtn" style="display:none;">X</span>
    </div>
   <div id="errorAlert" class="calert-fail" style="display:none;">
    </div>
    <span id="close2" class="closebtn2" style="display:none;">X</span>
</p>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){
        myBtn = document.querySelector('#formBtn');
        myBtn.addEventListener('click', updateForm);
    });
          
    function updateForm(event){
        event.preventDefault();
        let data = new FormData();
        data.name = document.getElementById('#name');
        data.email = document.getElementById('#email');
        data.title = document.getElementById('#title');
        data.message = document.getElementById('#message');

        fetch('/save_form',
        {
            method: "POST",
            headers: new Headers({
                'Content-Type': 'application/json'
            }),
            body: data
        })
        .then(function(res){ return res.json(); })
        .then(function(data){ alert( JSON.stringify( data ) ) })
        .catch(function (error) {  
            console.log('Request failure: ', error);  
        });
    }
    
    
    
    function removeThis(event){
        event.preventDefault();
        var myForm = document.getElementById('myForm');
        myForm.submit();
        var x = document.querySelector("#successAlert");
        x.style.display = 'block';
        var y = document.querySelector("#close1");
        y.style.display = 'block';
        y.addEventListener('click', function(){
            x.style.display = 'none';
            y.style.display = 'none';
        });
    }

</script>
</body>
</html>