<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
<style>
.calert  {	border: 1px solid yellow; border-radius: 5px; color: gold; background-color: green; 
	width: 200px; height: 20px;}
.calert-fail  {	border: 1px solid yellow; border-radius: 5px; color: gold; background-color: red; 
    width: 200px; height: 20px;}
.calert:hover  {	color:white; }
.closebtn {	color: red; font-weight: bold; font-size: 20px; float: right;
cursor: pointer; transition: 0.3s;  }  
.closebtn:hover {	color: white;  }
</style>
    <title> Main_Website </title>
</head>
<body>

<form id="myForm" method="POST">
<p><input type="text" value="" minlength="3" maxlength="30" placeholder="NAME" id="name" name="name" class="field" required></p>
<p><input type="email" value="" minlength="9" maxlength="50" placeholder="EMAIL" id="email" name="email" class="field" required></p>
<p><input type="text" value="" minlength="2" maxlength="10" placeholder="TITLE" id="title" name="title" class="field" required></p>
<p><textarea cols="20"  rows="5" minlength="3" maxlength="1000" id="message" name="message" placeholder="MESSAGE" required></textarea></p>
<p><input type="submit" value="submit" class="button" id="formBtn"></p>
</form>
<p>
    <div id="successAlert" class="calert">
        <span id="close1" class="closebtn">X</span>
    </div>
    
   <div id="errorAlert" class="calert-fail" style="display:none;">
    </div>
    <span id="close2" class="closebtn" style="display:none;">X</span>
</p>
<script type="text/javascript">
    document.getElementById('myForm').addEventListener('submit', addPost);
    document.getElementById('formBtn').addEventListener('click', makeCheck);
    
    function addPost(event){
        event.preventDefault();
        console.log("Form submitted");
    }

    function removeThis(event){
        console.log("Inside remove");
    }

    function makeCheck(){
        var x = document.getElementById("successAlert");
        var y = document.getElementById("close1");
        x.style.visibility = 'visible';
        console.log("Value of y is: " + y.innerHTML);
        y.style.visibility = '';
    }
    
</script>
 
</body>
</html>