<style>
    .modal-content {
        background-color: #212121;
    }
    
    </style>
        
    <!-- Modal Sell -->
    <div class="modal fade" id="sellConfirm-{{ owned_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ owned_item.name }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST">
                    {{ sell_form.hidden_tag() }}
                    <h4 class="text-center">Are you sure you want to sell {{ owned_item.name }} for {{ owned_item.price }}$ ?</h4>
                    <br>
                    <h6 class="text-center">By clicking purchase, you will SELL this item!
                    <br><br> 
                    <input id="sold_item" name="sold_item" type="hidden" value="{{ owned_item.name }}">
                    {{ sell_form.submit(class="btn btn-outline-danger btn-block") }}</h6>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>