{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="container">
		<!--START OF HEADER BAR -->
	<div class="header">
		<div id="navigation">
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li><a href="{{ url_for('new_arrival') }}">New Arrival</a></li>
				<li><a href="{{ url_for('apparel') }}">Apparel</a></li>
				<li><a href="{{ url_for('beauty_care') }}">Beauty Care</a></li>
				<li><a href="{{ url_for('shoes') }}">Shoes</a></li>
				<li class="selected"><a href="{{ url_for('accessories') }}">Accessories</a></li>
				<li><a href="{{ url_for('jewelry') }}">Jewelry</a></li>
			</ul>
		</div>
	</div> 
	<!--END OF HEADER BAR -->

		<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Categories</a></h2>
					<ul>
						<li>
							<a href="#">Women's Accessories</a>
							<ul>
								<li><a href="#">Charm</a></li>
								<li><a href="#">Hair Accessories</a></li>
								<li><a href="#">Brouches</a></li>
								<li><a href="#">Pins</a></li>
								<li><a href="#">Set</a></li>
								<li><a href="#">Bracelets</a></li>
								<li><a href="#">Glasses</a></li>
								<li><a href="#">Journals</a></li>
								<li><a href="#">Hair Pieces</a></li>
							</ul>
						</li>	
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="figure">
					<img src="../static/img/accesory.jpg" alt=""/>
				</div>
				<div class="products">
					<div class="paging">
						<div class="first">
							<h2>Accessories</h2>
						</div>
					</div>
					<ul>
						<li class="first">
							<a href="#"><img src="../static/img/bath-set.jpg" alt=""/></a>
							<h4>Bath Set</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="../static/img/blusher-brush.jpg" alt=""/></a>
							<h4>Blusher Blush</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="../static/img/fine-curler.jpg" alt=""/></a>
							<h4>Fine Curler</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="../static/img/chick-brush.jpg" alt=""/></a>
							<h4>Chick Brush</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
					<ul>
						<li class="first">
							<a href="#"><img src="../static/img/eyebrow-comb.jpg" alt=""/></a>
							<h4>Eyebrow Comb</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="../static/img/beauty-box.jpg" alt=""/></a>
							<h4>Beauty Box</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="../static/img/comb-set.jpg" alt=""/></a>
							<h4>Comb Set</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="#"><img src="../static/img/ep-sharpener.jpg" alt=""/></a>
							<h4>Ep Sharpener</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
{% endblock %}