{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}

<div class="container">
	<div class="body">
		<div class="header">
			<div id="navigation">
				<ul>
					<li class="selected"><a href="{{ url_for('home') }}">Home</a></li>
					<li><a href="{{ url_for('new_arrival') }}">New Arrival</a></li>
					<li><a href="{{ url_for('home') }}">Apparel</a></li>
					<li><a href="{{ url_for('home') }}">Beauty Care</a></li>
					<li><a href="{{ url_for('home') }}">Shoes</a></li>
					<li><a href="{{ url_for('accessories') }}">Accessories</a></li>
					<li><a href="{{ url_for('home') }}">Jewelry</a></li>
				</ul>
			</div>
		</div> 
		<div class="featured">
			<a href="{{ url_for('register_page') }}"><img src="../static/img/advertisement.jpg" alt=""/></a>
			<div class="gallery">
				<a href="{{ url_for('home') }}"><img src="../static/img/aurora.jpg" alt=""/></a>
				<ul class="first">
					<li><a href="{{ url_for('home') }}"><img src="../static/img/summer-collection.jpg" alt=""/></a></li>
					<li><a href="{{ url_for('home') }}"><img src="../static/img/beach-bride.jpg" alt=""/></a></li>
					<li><a href="{{ url_for('home') }}"><img src="../static/img/motherhood-apparel.jpg" alt=""/></a></li>
				</ul>
				<ul>
					<li><a href="{{ url_for('home') }}"><img src="../static/img/fashionable.jpg" alt=""/></a></li>
					<li><a href="{{ url_for('home') }}"><img src="../static/img/accessories.jpg" alt=""/></a></li>
					<li><a href="{{ url_for('home') }}"><img src="../static/img/skin-perfect.jpg" alt=""/></a></li>
				</ul>
			</div>
		</div>	<!-- end of featured -->
		</div><!-- end of navigation -->
	</div>
</div><!--End of main website container-->
{% endblock %}