{% extends 'base.html' %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="container">		
	<!--START OF HEADER BAR -->
	<div class="header">
		<div id="navigation">
			<ul>
				<li><a href="{{ url_for('home') }}">Home</a></li>
				<li class="selected"><a href="{{ url_for('new_arrival') }}">New Arrival</a></li>
				<li><a href="{{ url_for('apparel') }}">Apparel</a></li>
				<li><a href="{{ url_for('beauty_care') }}">Beauty Care</a></li>
				<li><a href="{{ url_for('shoes') }}">Shoes</a></li>
				<li><a href="{{ url_for('accessories') }}">Accessories</a></li>
				<li><a href="{{ url_for('jewelry') }}">Jewelry</a></li>
			</ul>
		</div>
	</div> 
	<!--END OF HEADER BAR -->
	
		<div class="body">
			<div class="sidebar">
				<div class="first">
					<h2><a href="#">Categories</a></h2>
					<ul>
						<li><a href="#">Tees / T-Shirts</a></li>
						<li><a href="#">Casual Tops</a></li>
						<li><a href="#">Blouses &amp; Shirts</a></li>
						<li><a href="#">Dresses</a></li>
						<li><a href="#">Knits</a></li>
						<li><a href="#">Denims &amp; Jeans</a></li>
						<li><a href="#">Pants</a></li>
						<li><a href="#">Skirts</a></li>
						<li><a href="#">Shorts</a></li>
						<li><a href="#">Sets</a></li>
						<li><a href="#">Swimwear</a></li>						
						<li><a href="#">Innerwear</a></li>

					</ul>
				</div>
		
				<div>
					<h2><a href="#">Women's Style</a></h2>
				</div>
			</div>
			<div class="content">
				<div class="figure">
					<img src="../static/img/apparel.jpg" alt=""/>
				</div>
				<div class="products">
					<div class="paging">
						<div class="first">
							<h2>New Arrival</h2>
						</div>
						<div>
							
						</div>
					</div>
					<ul>
						<li class="first">
							<a href="apparel.html"><img src="../static/img/apparel1.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="apparel.html"><img src="../static/img/apparel2.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="apparel.html"><img src="../static/img/apparel3.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="apparel.html"><img src="../static/img/apparel4.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
					<ul>
						<li class="first">
							<a href="apparel.html"><img src="../static/img/apparel5.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="apparel.html"><img src="../static/img/apparel6.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="apparel.html"><img src="../static/img/apparel7.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
						<li>
							<a href="apparel.html"><img src="../static/img/apparel8.jpg" alt=""/></a>
							<h4>Lorem Ipsum</h4>
							<p>dolor sit amet</p>
							<span>US$28.00 ~PHP1,210.44</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
</div>
{% endblock %}