<html>
<head>{{ title }}</head>
<title>Flask Pages</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="nav-bar brand" href="#">Puppies rock!</a>
    </nav>
    <h1> Hi, {{ user.username }} </h1>
    {% for post in posts %}
    <div>
        <p>
            {{ post.author.username }} says: <b> {{ post.body }}</b> 
        </p>
    </div>
    {% endfor %}

</body>

</html>