{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Tasks Completed</h1>
    {% if tasks|length < 1 %}
    <h4>There are no tasks. Create one below!</h4>
    {% else %}
    <table class="table">
        <tr>
            <th>Task</th>
            <th>Added</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}