*, ::before, ::after { box-sizing: border-box; font-family: inherit; }
:root { --hue-neutral: 200; --hue-wrong: 0; --hue-correct: 145; 
   --clr-primary: rgb(55,112,199); --clr-light: #F4F4F4; --clr-dark: #133; --clr-warning: rgb(99, 36, 36); }
body { margin: 0; font-weight: 300; font-size: 1.5rem; font-family: "Work Sans", sans-serif;
background-color: var(--clr-primary); color: var(--clr-light); display: grid; grid: 
"header header header header" auto
"...... lists  active ......" auto /
1fr minmax(100px, 300px)  minmax(250px, 500px)  1fr; }
.title { grid-area: header;}

.all-tasks { grid-area: lists; }

.todo-list { grid-area: active; }


.hide { display: none;}
