{% extends "base.html" %}
{% block title %} Links Page {% endblock %}

{% block page_content %}
<div class="container-fluid">
  <table class="table table-bordered">
      <thead>
        <tr class="row">
            <th class="col-sm-1">ID</th>
            <th class="col-sm-2">Description </th>
            <th class="col-sm-4">URL</th>
            <th class="col-sm-2">Type</th>
            <th class="col-sm-2">Date Added</th>
            <th class="col-sm-1">Update</th>
        </tr>
      </thead>
      <tbody>
       {% for link in links %}
       <tr class="row">
        <td class="col-sm-1"> {{ link.id }} </td>
        <td style="word-break: break-all" class="col-sm-2"> {{ link.link_name }} </td>
        <td style="word-break: break-all" class="col-sm-4"><a href="{{ link[2] }}">{{ link.link_url }}</a></td>
        <td class="col-sm-2"> <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('type_links', type = link.link_type ) }}">{{ link.link_type }}</a> </td>
        <td class="col-sm-2"> {{ link.date_created }} </td>
        <td class="col-sm-1">
          <a class="btn btn-danger btn-sm" href="/delete/{{ link.id }}" role="button">Delete</a>
          <a class="btn btn-info btn-sm" href="/read/{{ link.id }}">Read</a>
        </td>
       </tr>
      </tbody>
       {% endfor %}
    </table>
  </div>  
{% endblock %}