{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="container">
<h2>Material Calculation for Various Strengthening Materials</h2>
<h4>1. Calculation for Anchoring Epoxy</h4>
<div id="options" class="row col-md-2">
<select class="form-select mt-2 mb-2 col-md-2" aria-label="Default select example" id="anchoring-epoxy">
    <option selected value="300ml">300ml Sachet</option>
    <option value="500ml">500ml Sachet</option>
    <option value="conmix">Conmix</option>
</select>
<label for="dia">Diameter of bar:</label> 
<input id="dia" pattern="[0-9]*" type="text" placeholder="Enter dia."><br> <br>
<label for="depth">Depth of Anchor (mm):</label> 
<input id="depth" pattern="[0-9]*" type="text" placeholder="Usually 10 times dia.">  <br><br>
<label for="hole_width">Width of Drilling:</label> 
<input id="hole_width" pattern="[0-9]*" type="text" placeholder="Dia. + 4mm usually"> <br><br>
<label for="drill_nos">Number of Anchors:</label> 
<input id="drill_nos" pattern="[0-9]*" type="text" placeholder="# of anchors"> <br><br>
<button class="block" id="eCalculate">Calculate</button>
Anchoring material required: <span id="result">00 ml </span> </p>
</div>


<h3>2. Calculation for Micro-Concrete</h3>
<form>
        <select name="choose_one">
            <option value="25kg">25 Kg Bags</option>
            <option value="50kg">50 Kg Bags</option>
        </select>
</form>
<img src="{{ image2 }}" alt="Second Image"  width="300" height="300">
<p>
<label for="slab_a">Area in SQM:</label> 
<input id="slab_a" pattern="[0-9]*" type="text" placeholder="Area (sqm)"><br> <br>
<label for="slab_t">Thickness of Pour (mm):</label> 
<input id="slab_t" pattern="[0-9]*" type="text" placeholder="Thickness (mm)">  <br><br>
<button class="block" id="mCalculate">Calculate</button>
<p>
Bags required: <span id="result_bags">00 Bags </span> </p>

<h3>3. Calculation for CFRP Quantities</h3>
<form>
        <select name="choose_two">
            <option value="S512">S512 Strips</option>
            <option value="S1012">S1012 Strips</option>
            <option value="530C">530C Wrap</option>
        </select>
</form>
<img src="{{ image3 }}" alt="Third Image" width="300" height="200">
<p>
<label for="len">Total Length (m):</label> 
<input id="len" pattern="[0-9]*" type="text" placeholder="Length (m)"><br> <br>
<button class="block" id="cCalculate">Calculate</button>
<p>
Epoxy Sikadur 30-LP required: <span id="epoxy1">00 6Kg Set </span> </p>
<p>Epoxy Sikadur 300 required: <span id="epoxy2">00 30Kg Set </span> </p>
<p>Epoxy Sikadur 330 required: <span id="epoxy3">00 5Kg Set </span> </p>
<p>Fire-protection 2-hr material (Sikacrete 213F) required: 
    <br><span id="fire1">00 25Kg Bags </span> </p>
<p>
   <br>
    <h3>4. Concrete Jacketing</h3>
    <form>
        <select name="choose_three">
            <option value="100mm">100mm</option>
            <option value="150mm">150mm</option>
            <option value="200mm">200mm</option>
        </select>
    </form>
    <img src="{{ image4 }}" alt="Jacketing" width="300" height="200">
    <p>
    <label for="iwid">Initial Width (mm):</label>
    <input id="iwid" pattern="[0-9]*" type="text" placeholder="Width (mm)"><br> <br>
    <label for="ilen">Initial Length (mm):</label>
    <input id="ilen" pattern="[0-9]*" type="text" placeholder="Length (mm)"><br> <br>
    <label for="ht">Height (mm):</label>
    <input id="ht" pattern="[0-9]*" type="text" placeholder="Height (mm)"><br> <br>
    <label for="nos">Quantity (No's):</label>
    <input id="nos" pattern="[0-9]*" type="text" placeholder="No's"><br> <br>
    <button class="block" id="jCalculate">Calculate</button>
    <p>
        <p>Total Micro-Concrete Quantity: <span id="jreq1">00 m3 </span> </p>
        <p>Total Micro-Concrete material required: 
        <br><span id="jreq">00 25Kg Bags </span> </p>
    <p>
</div>

</script>
<script src="../static/js/mat_calc.js"></script>
</div>

{% endblock %}