<!DOCTYPE html>
<!--This page is property of SYED MEESAM ALI-->
<head>
    <title>Data Entry Page</title>
<style>
*, *:after, *:before { font-family: Arial, Helvetica, sans-serif; box-sizing: border-box; }
body { padding: 0; margin: 0; background:lightgoldenrodyellow; width: 100vw; height: 100vh; }
.page-title { color: blueviolet; font-family: sans-serif; font-weight: normal; text-align: center; font-size: 4em; }
.container { grid-column: 1 / -1; display: flex; justify-content:center; }
.item { position: relative; width: 400px; }
.status { position: relative; width: 150px; }
</style>
</head>
<body>

<div class="container">
    <form action="/additems" method="POST">
    <table>
        <tr><td>Item Description:</td><td><input type="text" name="id" class="item"></td></tr>
        <tr><td>Status:</td><td><input type="text" name="desc" class="status"></td></tr>
    </table>
    <input type="submit" value="Submit">
    </form>
    <a href="/">Go back to homepage</a>
</div>
</body>
</html>