<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
  <title> AJAX Review </title>

</head>
<body>
<script type="text/javascript" src="../static/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../static/contact.js"></script>

<form action="/process" method="POST">
  <table>
      <tr><td>Name:</td><td><input type="text" name="name"></td></tr>
      <tr><td>Email:</td><td><input type="text" name="email"></td></tr>
  </table>
<input type="submit" value="Submit">
</form>

<div id="successAlert" class="alert alert-success" role="alert" style="display: none;"></div>
<div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;"></div>
</body>
</html>