<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<head>
  <title> AJAX Review </title>
</head>
<body>
<script type="text/javascript" src="/static/jquery-1.11.0.min.js"></script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type="text/javascript">
$(function() {
  $('a#calculate').click(function(){
    $.getJSON($SCRIPT_ROOT + '/_addNumbers', {
      a : $('input[name="a"]').val(), 
      b : $('input[name="b"]').val()
    }, function(data) {
      $('#result').text(data.result);
    });
    return false;
  });
});
console.log("Script run");
</script>

<input type="number" id="a"> + 
<input type="number" id="b">
<span id="result">?</span>
<p><a href="#" id="calculate">calculate server side</a>

</body>
</html>