<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
  <title> Home Page For Photos</title>
  <style>


body {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        background: #456368;
        background: -webkit-linear-gradient(#644580, #493f50);
        background:    -moz-linear-gradient(#7FFFD4, #493f50);
        background:         linear-gradient(#648880, #7FFFD4);
        background-repeat: no-repeat;
        background-attachment: fixed;
}

</style>    
</head>
<body>
<div><h1>Welcome by Syed!</h1></div>
</body>
</html>