{% extends "base.html" %}
{% block title %} Work-DB Home {% endblock %}

{% block page_content %}
<div class="content">
    <h1>Work Log - Homepage</h1>
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
        <!-- Main Row ||| Using only one header row to add all stuff -->
        <tr>
            <th style="width: 10%">Id </th>
            <th style="width: 15%">Project Name </th>
            <th style="width: 15%">Activity </th>
            <th style="width: 10%">Location </th>
            <th style="width: 35%">Remarks </th>
            <th style="width: 15%">Action </th>
        </tr>
            <tr>
            <td>
                <h3>ID</h3>
            </td>
            <!--Project Name to be added from Auto-fill -->
            <td>
                <form autocomplete="off" action="#" id="input_form">
                    <div class="autocomplete">
                        <input id="myInput" type="text" name="myCountry" placeholder="Project Name">
                    </div>
                </form>
            </td>
            
             <!--Action or activity type-->
             <td>
                <div class="autocomplete">
                    <input id="myActivity" type="text" name="myActivity" placeholder="Activity">
                </div>
            </td>

            <!--Location options-->
            <td>
                <div class="autocomplete">
                    <input id="myLocation" type="text" name="myLocation" placeholder="Location">
                </div>
            </td>        
            
            <!--Remarks input area-->
            <td>
                <form autocomplete="off" action="#" id="remarks_form">
                    <div class="autocomplete">
                        <input id="remarks" type="text" name="remarks" placeholder="Remarks" size="50">
                    </div>
                </form>
                </td>

            <!--Action buttons-->
            <td>
                <a class="btn btn-info btn-sm" href="/Add_Ongoing">Add</a>
            </td>
            
    </tr>
    </tbody>
    </tbody>
    </table>
</div>
<script src="../static/autocomplete.js"></script>
{% endblock %}