* {
    font-family: Arial;
    box-sizing: border-box;
    color:blue;
}

body {
    text-align: left;
}

.cool {
    background-color: greenyellow;
    width: 200px;
    padding: 5px;
    border: 2px solid white;
    
}

.hot {
    background-color: red;
    color: yellow;
    width: 200px;
    padding: 5px;
    border: 2px solid white;
}

.normal {
    background-color:orange;
    color: blue;
    width: 200px;
    padding: 5px;
    border: 2px solid white;
}

li:hover {
    background-color: black;
    color: aliceblue;
}