{% extends "base.html" %}
{% block title %} Index Page {% endblock %}

{% block page_content %}
<div class="content">
    <h1>My Online Product Store</h1>
    
    <table class="table table-bordered">
        <thead class="table-info"></thead>
        <tbody>
        <tr>
            <th style="width: 30%">Product Name</th>
            <th style="width: 30%">Description</th>
            <th style="width: 25%">Price (General)</th>
            <th style="width: 10%">Qty Available</th>
        </tr>
            <tr><td>Shirts (M)</td><td>Classic T-shirts</td><td>500 PHP</td><td>20 No's</td></tr>
    </tbody>
    </table>
</div>
{% endblock %}